#Intellij Idea
.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings

#Buid files
target
src/main/webapp/public/bower_components
project/project
project/target
tmp
.history

# Logs
logs
*.log
